<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/427a1571ad.js" crossorigin="anonymous"></script>
    <title>Fyllo - Next Gen Agri Intelligence Platform</title>
    <link rel="stylesheet" href="new_home.css">
    <link rel="stylesheet" href="aboutus.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="logo.png" alt="Satcard Logo">
        </div>
        <!-- Dropdown icon for mobile screens -->
        <div class = "nav1">
            <a class="nav-btn "  href="/contact">Book Demo</a>
        </div>
        <div class="dropdown">
            
            <button class="dropbtn"><i class="fas fa-bars"></i></button>
            <div class="dropdown-content">
                <a href="/">Home</a>
                <a href="/product1">System1</a>
                <a href="/product2">System2</a>
                <a href="/product3">System3</a>
                
                <a href="/about">About</a>
                
            </div>
        </div>
        <!-- Regular navigation for larger screens -->
        <nav class = "nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li class="system-dropdown">
                    <a href="#">Systems</a>
                    <ul class="dropdown-content">
                        <li><a href="/product1">System 1</a></li>
                        <li><a href="/product2">System 2</a></li>
                        <li><a href="/product3">System 3</a></li>
                    </ul>
                </li>
                <li><a href="/about">About us</a></li>
                
            </ul>
            <a class="nav-btn" href="/contact">Book Demo</a>
        </nav>
    </header>

    <section class="mission-section">
        <div class="container">
            <div class="mission-content">
                <div class="mission-text">
                    <h1>Our Mission</h1>
                    <h2>Revolutionize Agriculture with <span>Smart Technology</span></h2>
                    <p>At Smart AgriTech, we are committed to transforming the agricultural landscape by integrating advanced technologies and data-driven solutions to boost productivity and sustainability.</p>
                </div>
                <div class="mission-images">
                    <img class="image1" src="image1.jpg" alt="Mission Image 1">
                    <img class="image2" src="image2.jpg" alt="Mission Image 2">
                    <img class="image3" src="image3.jpg" alt="Mission Image 3">
                    <img class="image4" src="image4.jpg" alt="Mission Image 4">
                </div>
            </div>
        </div>
    </section>

    <section class="story-section">
        <div class="container">
            <h2>Our Journey Began with a Vision  for Smarter Farming</h2>
            <p>Smart AgriTech was founded by a group of passionate agricultural experts and technologists who envisioned a future where technology empowers farmers to achieve greater yields and sustainability. Our story began in the fields, where we saw firsthand the challenges faced by farmers. This inspired us to create innovative solutions that bridge the gap between technology and agriculture.</p>
            <p>Driven by our commitment to impact, we developed user-friendly tools ranging from precision farming equipment to advanced data analytics. By integrating IoT, AI, and machine learning, we provide farmers with real-time insights and predictive capabilities to maximize productivity. At Smart AgriTech, we believe harnessing technology creates a more sustainable and prosperous future for farmers and the world.</p>
        </div>
    </section>

    <section class="partners-section">
        <div class="container">
            <div class="mission-content1">
                <div class="partner-text">
                    <h1>Our partners</h1>
                    <h2>We Grow Stronger Together</h2>
                    <p>Our success is rooted in collaboration. We partner with leading agricultural organizations, research institutions, and technology providers to deliver cutting-edge solutions. If you're interested in joining our network of partners, we'd love to hear from you.</p>
                    <a href="/contact" class="partner-btn">Become a Partner</a>
                </div> 
                <div class="mission-images1">
                    <img class="image4 partner-image" src="image4.jpg" alt="Mission Image 4">
                </div>
            </div>
        </div>
    </section>

    <section class="clients">
        <div class="client-logos">

            <img src="client1.png" alt="Client 1">
            <img src="client2.png" alt="Client 2">
            <img src="client3.png" alt="Client 3">
            <img src="client4.jpeg" alt="Client 4">
            <img src="client5.png" alt="Client 5">
            <img src="client6.png" alt="Client 6">
            <img src="client7.png" alt="Client 7">
            <img src="client8.png" alt="Client 8">
            <img src="client9.png" alt="Client 9">
            <img src="client10.png" alt="Client 10">
            <img src="client11.png" alt="Client 11">
            <img src="pkd-logo.png" alt="Client 12">
            <img src="techin.jpeg" alt="Client 13">

        </div>
    </section>

    <section class="team-section">
        <div class="container">
            <h2>Meet Our Team</h2>
            <div class="team-members">
                <div class="team-member">
                    <div class="circle">
                        <img src="team4.jpg" alt="Robert Saunders">
                    </div>
                    <h3>Robert Saunders</h3>
                    <p>Founder & CEO</p>
                </div>
                <div class="team-member">
                    <div class="circle">
                        <img src="team2.jpg" alt="Jane Smith">
                    </div>
                    <h3>Jane Smith</h3>
                    <p>Chief Technology Officer</p>
                </div>
                <div class="team-member">
                    <div class="circle">
                        <img src="team3.jpg" alt="Mike Johnson">
                    </div>
                    <h3>Mike Johnson</h3>
                    <p>Head of Operations</p>
                </div>
                <div class="team-member">
                    <div class="circle">
                        <img src="team4.jpg" alt="Mike Johnson">
                    </div>
                    <h3>Mike Johnson</h3>
                    <p>Head of Operations</p>
                </div>
                <div class="team-member">
                    <div class="circle">
                        <img src="team2.jpg" alt="Jane Smith">
                    </div>
                    <h3>Jane Smith</h3>
                    <p>Chief Technology Officer</p>
                </div>
                
                <!-- Add more team members as needed -->
            </div>
        </div>
    </section>

    <section class="awards-recognition">
        <h1>Blogs</h1>
        
        <div class="year-section">
            <h2>2023</h2>
            <div class="award-item">
                <img src="image2.jpg" alt="Third Avenue Development">
                <div class="award-details">
                    <p><strong>Third Avenue Development</strong> | USGBC LEED Homes Award <span>July 14, 2020</span></p>
                    <p><a href="#">Read Related Article</a> | <a href="#">View Related Work</a></p>
                </div>
            </div>
        </div>
        
        <div class="year-section">
            <h2>2022</h2>
            <div class="award-item">
                <img src="image1.jpg" alt="Navy Green">
                <div class="award-details">
                    <p><strong>Navy Green</strong> | 2018 AIA Housing Awards - Multifamily Housing</p>
                    <p><a href="#">Read Related Article</a> | <a href="#">View Related Work</a></p>
                </div>
            </div>
            <!-- Add more award items for 2018 here -->
        </div>
        
        <div class="year-section">
            <h2>2021</h2>
            <div class="award-item">
                <img src="image3.jpg" alt="Frost Street">
                <div class="award-details">
                    <p><strong>Frost Street</strong> | 2017 ICF Builders Awards – Multifamily</p>
                    <p><a href="#">Read Related Article</a> | <a href="#">View Related Work</a></p>
                </div>
            </div>
            <!-- Add more award items for 2017 here -->
        </div>
        
    </section>
    <footer class="footer">
        <div class="contact">
            <div class = "icon-div">
                <div class="icon_container">
                    <img src="phone.png" class="icon first-icon">
                    <p class="detail-con phone_first">Phone</p>
                    <p class="detail_value phone_first">2222222222</p>
                </div>
                <div class="icon_container">
                    <img src="email.png" class="icon">
                    <p class="detail-con">Email</p>
                    <p class="detail_value">abc@gmail.com</p>
                </div>
                <div class="icon_container">
                    <img src="locate.png" class="icon ca">
                    <p class="detail-con">Office Location</p>
                    <p class="detail_value">Palakkad, Kerala</p>
                </div>
               
            </div>
        </div>
        <div class = "links">
        
        <div class ="links-div">
            <div class="link_ele">
                <img src ="logo.png" class="logo-img">
                 
                
                <div class = "revin-cont">
                    <p class = "link-css-con logo-bel-con">Revin Krishi is a leading centre developing 
                    efficient and affordable
                    technological solutions in agriculture, with a vision to impact
                    over 5 million farmers in India by 2030. Connect with us using the
                    following below social media links</p>
                    <!-- <p class = "link-css-con"></p> -->
                    <div class="social-media">
                        <a href= "https://www.facebook.com" target="_blank"><img src= "facebook.png" class ="social-icon social-first"></a>
                        <a href= "https://www.linkedin.com/company/satcard-smart-agritech-centre-for-advanced-research-and-development/" target="_blank"><img src= "linkedIn.png" class ="social-icon social-first"></a>
                        <a href= "https://www.instagram.com" target="_blank"><img src= "instagram.png" class ="social-icon"></a>
                        <a href= "https://www.twitter.com" target="_blank"><img src= "twitter.png" class ="social-icon"></a>
                    </div>
                    </div>
            </div>
            <div class= "quick">
                <div class="quick-links">
                    <p class = "heading1">Quick Links</p>
                    <a href= "#" class="links-click"><p class = "link-css link-first">Home</p></a>
                    <a href= "#"  ><p class = "link-css">About</p></a>
                    <a href= "#" ><p class = "link-css">Solutions</p></a>
                    <a href= "#" ><p class = "link-css">Contact</p></a>
                    <a href= "#" ><p class = "link-css">Crops</p></a>
                    <a href= "#" ><p class = "link-css">Resource</p></a>
                </div>
            </div>
            <div>
                <div class="useful-links">
                    <p class = "heading1" >Useful Links</p>
                    <a href= "#"><p class = "link-css link-first">Terms and Conditions</p></a>
                    <a href= "#"><p class = "link-css">Privacy Policy</p></a>
                    <a href= "#"><p class = "link-css">FAQs</p></a>
                    
                </div>
            </div>
            <div class="download-links-div">
                <div class="download-links">
                    <p class = "heading1">Download App</p>
                    <p class = "link-css-con link-first">For more convenience download our app
                    from the links below</p>
                    <a href= "#"><img src = "apple.png" class ="down-img down-img-first"></a>
                    <a href= "#"><img src = "android.png" class ="down-img"></a>
                    
                    
                </div>
            </div>
        </div>
        <div class = "copy-div">
            <p class = "copy">Copyright @ 2024 all rights reserved</p>
        </div>
        
    </div>

    
    </footer>

    
    
</body>
<script src="../backend/script.js"></script>
    <script>
         document.addEventListener('DOMContentLoaded', () => {
            const dropdown = document.querySelector('.dropdown');
            const dropbtn = dropdown.querySelector('.dropbtn');

            dropbtn.addEventListener('click', (e) => {
                e.stopPropagation();
                dropdown.classList.toggle('show');
            });

            window.addEventListener('click', () => {
                if (dropdown.classList.contains('show')) {
                    dropdown.classList.remove('show');
                }
            });

            dropdown.addEventListener('click', (e) => {
                e.stopPropagation();
            });
        });

       
    
    </script>
</html>