<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/animate1.css">
</head>
<body>
    <div class ="scale-up">
        <div class="drone-tech">
            <div class="drone-con"> 
                <div class="drone-head">
                    <h1>Drone Tech</h1>
                </div>
                <div class="drone-paragraph">
                    <p>
                        GREENHARVEST INNOVATIONS<br>
                        IS A PROMISING STARTUP IN<br>
                        THE AGRITECH SECTOR,<br>
                        DEDICATED TO<br>
                        REVOLUTIONIZING<br>
                        SUSTAINABLE AGRICULTURE.<br>
                        BY LEVERAGING CUTTING-<br>
                        EDGE TECHNOLOGIES SUCH AS<br>
                        IOT, AI, AND BLOCKCHAIN,<br>
                        GREENHARVEST AIMS TO<br>
                        OPTIMIZE CROP YIELDS,<br>
                        REDUCE WASTE, AND<br>
                        PROMOTE ENVIRONMENTALLY<br>
                        FRIENDLY FARMING<br>
                        PRACTICES. THEIR FLAGSHIP<br>
                        PRODUCT,
                    </p>
                </div>
            </div>
            <div class="animate1">
                <div class="img-container">
                    <img src="../public/d1.jpeg" class="img-animate">
                </div>
                <div class="img-container">
                    <img src="../public/d2.jpeg" class="img-animate">
                </div>
                <div class="img-container">
                    <img src="../public/d3.jpeg" class="img-animate">
                </div>
            </div>
        </div>
    </div>
</body>
</html>
