<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us - Revin Krishi</title>
    <script src="https://kit.fontawesome.com/427a1571ad.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../public/new_home.css">
    <link rel="stylesheet" href="../public/contact.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="../public/logo.png" alt="Satcard Logo">
        </div>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li class="system-dropdown">
                    <a href="#">Systems</a>
                    <ul class="dropdown-content">
                        <li><a href="#">System 1</a></li>
                        <li><a href="#">System 2</a></li>
                    </ul>
                </li>
                <li><a href="#">About us</a></li>
                
            </ul>
            <a class="nav-btn" href="#">Book Demo</a>
        </nav>
    </header>
    <div class="background_image">
        <div class="overlay">
            <h2>Contact Us</h2>
        </div>
        <svg class="wave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#fafafa" fill-opacity="1" d="M0,128L360,64L720,128L1080,0L1440,224L1440,320L1080,320L720,320L360,320L0,320Z"></path></svg>
    </div>

    <div class="contact-container" >
        <span class="big-circle"></span>
        <img src="../public/shape.png" class="square" alt="" />
        <div class="contact-div">
            <div class="contact-info">
                <h3 class="title">Get in Touch With Us</h3>
                <p class="text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis fuga ducimus ratione maiores.</p>
                <div class="info">
                    <div class="information">
                        <i class="fas fa-address-card fa-3x"></i> 
                        <p>Lorem ipsum dolor sit amet consectetur.</p>
                    </div>
                    <div class="information">
                        <i class="fas fa-envelope fa-3x"></i> 
                        <p>Lorem@gmail.com</p>
                    </div>
                    <div class="information">
                        <i class="fas fa-phone fa-3x"></i> 
                        <p>123-456-7890</p>
                    </div>
                    <!-- <div class="social-media">
                        <p>Connect with us :</p>
                        <div class="social-icons">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="contact-form">
                <span class="circle one"></span><span class="circle two"></span>
                <form action="contact.html">
                    <h3 class="contact-title">Contact Us</h3>
                    <div class="input-field">
                        <i class="fas fa-person"></i>
                        <input type="text" placeholder="Name">
                    </div>
                    <div class="input-field">
                        <i class="fas fa-envelope"></i>
                        <input type="email" placeholder="Email">
                    </div>
                    <div class="input-field">
                        <i class="fa fa-phone"></i>
                        <input type="tel" placeholder="Phone" >
                    </div>
                    <div class="textarea">
                        <textarea placeholder="Message" name="message" class="input"></textarea>
                        <button class="contact-btn nav-btn">Send Message</button>
                    </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="contact">
            <div class = "icon-div">
                <div class="icon_container">
                    <img src="../public/phone.png" class="icon first-icon">
                    <p class="detail-con phone_first">Phone</p>
                    <p class="detail_value phone_first">2222222222</p>
                </div>
                <div class="icon_container">
                    <img src="../public/email.png" class="icon">
                    <p class="detail-con">Email</p>
                    <p class="detail_value">abc@gmail.com</p>
                </div>
                <div class="icon_container">
                    <img src="../public/locate.png" class="icon ca">
                    <p class="detail-con">Office Location</p>
                    <p class="detail_value">Palakkad, Kerala</p>
                </div>
               
            </div>
        </div>
        <div class = "links">
        
        <div class ="links-div">
            <div class="link_ele">
                <img src ="../public/logo.png" class="logo-img">
                 
                
                <div class = "revin-cont">
                    <p class = "link-css-con logo-bel-con">Revin Krishi is a leading centre developing 
                    efficient and affordable
                    technological solutions in agriculture, with a vision to impact
                    over 5 million farmers in India by 2030. Connect with us using the
                    following below social media links</p>
                    <!-- <p class = "link-css-con"></p> -->
                    <div class="social-media">
                        <a href= "https://www.facebook.com" target="_blank"><img src= "../public/facebook.png" class ="social-icon social-first"></a>
                        <a href= "https://www.linkedin.com/company/satcard-smart-agritech-centre-for-advanced-research-and-development/" target="_blank"><img src= "../public/linkedIn.png" class ="social-icon social-first"></a>
                        <a href= "https://www.instagram.com" target="_blank"><img src= "../public/instagram.png" class ="social-icon"></a>
                        <a href= "https://www.twitter.com" target="_blank"><img src= "../public/twitter.png" class ="social-icon"></a>
                    </div>
                    </div>
            </div>
            <div class= "quick">
                <div class="quick-links">
                    <p class = "heading1">Quick Links</p>
                    <a href= "#" class="links-click"><p class = "link-css link-first">Home</p></a>
                    <a href= "#"  ><p class = "link-css">About</p></a>
                    <a href= "#" ><p class = "link-css">Solutions</p></a>
                    <a href= "#" ><p class = "link-css">Contact</p></a>
                    <a href= "#" ><p class = "link-css">Crops</p></a>
                    <a href= "#" ><p class = "link-css">Resource</p></a>
                </div>
            </div>
            <div>
                <div class="useful-links">
                    <p class = "heading1" >Useful Links</p>
                    <a href= "#"><p class = "link-css link-first">Terms and Conditions</p></a>
                    <a href= "#"><p class = "link-css">Privacy Policy</p></a>
                    <a href= "#"><p class = "link-css">FAQs</p></a>
                    
                </div>
            </div>
            <div class="download-links-div">
                <div class="download-links">
                    <p class = "heading1">Download App</p>
                    <p class = "link-css-con link-first">For more convenience download our app
                    from the links below</p>
                    <a href= "#"><img src = "../public/apple.png" class ="down-img down-img-first"></a>
                    <a href= "#"><img src = "../public/android.png" class ="down-img"></a>
                    
                    
                </div>
            </div>
        </div>
        <div class = "copy-div">
            <p class = "copy">Copyright @ 2024 all rights reserved</p>
        </div>
        
    </div>

    
    </footer>

</body>
</html>
