<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/IIT-logos.css">
</head>
<body>
    <div class = "all-iit-logo">
        <div class="iit-logos">
            <div class = "logo">
                <img src= "../public/pkd-logo.png">
            </div class = "logo">
            <div class = "logo"> 
                <img src= "../public/pkd-logo.png">
            </div>
            <div class = "logo">
                <img src= "../public/techin.jpeg" class= "techin">
            </div>
        </div>
    </div>
</body>
</html>