<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Impact in Numbers</title>
    <link rel="stylesheet" href="../public/impact1.css">
</head>
<body>
    <div class="container">
        <h1>Our Impact in Numbers</h1>
        <div class="impact-numbers">
            <div class="impact-item" style="--delay:-1;">
                <span class="description">Empowered Manual Scavengers</span>
                <span class="value">10,03,466 L</span>
            </div>
            <div class="impact-item" style="--delay:0;">
                <span class="description">Metres Inspected</span>
                <span class="value">56</span>
            </div>
            <div class="impact-item" style="--delay:1;">
                <span class="description">Contamination Points Identified</span>
                <span class="value">556</span>
            </div>
            <div class="impact-item" style="--delay:2;">
                <span class="description">Manholes Cleaned</span>
                <span class="value">26,523 m</span>
            </div>
            <div class="impact-item" style="--delay:2;">
                <span class="description">Litres of Water Saved</span>
                <span class="value">35</span>
            </div>
        </div>
    </div>
</body>
</html>
