<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/landing.css">
</head>
<body>
    <div class ="landing">
        <iframe src="land_part1.html" width="100%" height="837px" frameborder="0"></iframe>
        <iframe src="imapct.html" width="100%" height="650px" frameborder="0"></iframe>
        <iframe src="testimonials1.html" width="100%" height="530px" frameborder="0"></iframe>
        <iframe src="animate1.html" width="100%" height="600px" frameborder="0"></iframe>
        
        <iframe src="IIT-logos.html" width="100%" height="330px" frameborder="0"></iframe>
        <iframe src="landing_pagePart4.html" width="100%" height="650px" frameborder="0"></iframe>
    </div>
</body>
</html>