<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/427a1571ad.js" crossorigin="anonymous"></script>
    <title>Fyllo - Next Gen Agri Intelligence Platform</title>
    <link rel="stylesheet" href="../public/home2.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="../public/logo.png" alt="Satcard Logo">
        </div>
        <nav>
            <ul>
                <li><a href="#">About</a></li>
                
                <li><a href="#">Solutions</a></li>
                <li><a href="#">Crops</a></li>
                <li><a href="#">Social Impacts</a></li>
                <li><a href="#">Resources</a></li>
            </ul>
            
            
        </nav>
    </header>

    <section class="hero">
        <video autoplay muted loop plays-inline id="myvideo">
            <source src="../public/drone_video.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <div class="hero-content">
            <p class = "time">Time for your</p>
            <h1>Greener Tomorrow</h1>
            <p class="let">Let us plan it for you</p>
            <div class = "h-btn">
            <a class="hero-btn" href="#"><p>Book Now</p></a>
            </div>
        </div>
       
    </section>

</body>
</html>
