<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>System 2 - Revin Krishi</title>
    <script src="https://kit.fontawesome.com/427a1571ad.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="new_home.css">
    <link rel="stylesheet" href="product1.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="logo.png" alt="Satcard Logo">
        </div>
        <!-- Dropdown icon for mobile screens -->
        <div class = "nav1">
            <a class="nav-btn "  href="/contact">Book Demo</a>
        </div>
        <div class="dropdown">
            
            <button class="dropbtn"><i class="fas fa-bars"></i></button>
            <div class="dropdown-content">
                <a href="/">Home</a>
                <a href="/product1">System1</a>
                <a href="/product2">System2</a>
                <a href="/product3">System3</a>
                
                <a href="/about">About</a>
                
            </div>
        </div>
        <!-- Regular navigation for larger screens -->
        <nav class = "nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li class="system-dropdown">
                    <a href="#">Systems</a>
                    <ul class="dropdown-content">
                        <li><a href="/product1">System 1</a></li>
                        <li><a href="/product2">System 2</a></li>
                        <li><a href="/product3">System 3</a></li>
                    </ul>
                </li>
                <li><a href="/about">About us</a></li>
                
            </ul>
            <a class="nav-btn" href="/contact">Book Demo</a>
        </nav>
    </header>
    <main>
        <section class="product-hero">
            <h1>System 2</h1>
            <!-- <img src="product1.jpg" alt="Landscape"> -->
            <!-- <div class="overlay">
                <h1>System 1</h1>
            </div> -->
        </section>
        <section class="project-image">
            <img src="product3.jpg" alt="Tractor in Field">
            <img src="product3.jpg" alt="Tractor in Field">
        </section>
        <section class="content">
            <div class="project-details">
                <h1>Harvest Innovations</h1>
                <p>There are many variations of passages of psum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. Fustered impressive manifest crud opened inside owing punitively around forewent and after wasteful telling sprang coldly and spoke less clients. Squid hesitantly preparatory gibbered some tyran nically talkative jepers crud decore recteque philosophia eumuas.</p>
                <p>Beyond more stoic this along goodness hey this this wow manatee mongoose one as since a far flustered impressive manifest far crud opened inside owing punitively around forewent and after wasteful telling sprang coldly and spoke less clients. Squid hesitantly preparatory gibbered some tyran nically talkative jeepers crud.</p>
            </div>
            
            <div class="project-info">
                <h2>Project Information</h2>
                <p><strong>Date:</strong> 06 Nov, 2019</p>
                <p><strong>Client:</strong> Themeforest, Envato</p>
                <p><strong>Website:</strong> agrikol.com</p>
                <p><strong>Location:</strong> New York, USA</p>
                <p><strong>Value:</strong> $25,60000</p>
            </div>
        </section>
        <section class="project-challenges">
            <h2>Project Challenges</h2>
            <div class="challenge">
                <i class="fas fa-seedling"></i>
                <h3>Attract and Retain Quality High Paying Customers</h3>
                <p>Lorem ipsum is simply free text used by copytyping refreshing. Neque porro est qui dolorem ipsum quia quaed inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Aelltes port lacus quis enim var sed efficitur turpis gilla sed sit amet finibus eros.</p>
            </div>
            <div class="challenge">
                <i class="fas fa-seedling"></i>
                <h3>Attract and Retain Quality High Paying Customers</h3>
                <p>Lorem ipsum is simply free text used by copytyping refreshing. Neque porro est qui dolorem ipsum quia quaed inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Aelltes port lacus quis enim var sed efficitur turpis gilla sed sit amet finibus eros.</p>
            </div>
        </section>

        <footer class="footer">
            <div class="contact">
                <div class = "icon-div">
                    <div class="icon_container">
                        <img src="phone.png" class="icon first-icon">
                        <p class="detail-con phone_first">Phone</p>
                        <p class="detail_value phone_first">2222222222</p>
                    </div>
                    <div class="icon_container">
                        <img src="email.png" class="icon">
                        <p class="detail-con">Email</p>
                        <p class="detail_value">abc@gmail.com</p>
                    </div>
                    <div class="icon_container">
                        <img src="locate.png" class="icon ca">
                        <p class="detail-con">Office Location</p>
                        <p class="detail_value">Palakkad, Kerala</p>
                    </div>
                   
                </div>
            </div>
            <div class = "links">
            
            <div class ="links-div">
                <div class="link_ele">
                    <img src ="logo.png" class="logo-img">
                     
                    
                    <div class = "revin-cont">
                        <p class = "link-css-con logo-bel-con">Revin Krishi is a leading centre developing 
                        efficient and affordable
                        technological solutions in agriculture, with a vision to impact
                        over 5 million farmers in India by 2030. Connect with us using the
                        following below social media links</p>
                        <!-- <p class = "link-css-con"></p> -->
                        <div class="social-media">
                            <a href= "https://www.facebook.com" target="_blank"><img src= "facebook.png" class ="social-icon social-first"></a>
                            <a href= "https://www.linkedin.com/company/satcard-smart-agritech-centre-for-advanced-research-and-development/" target="_blank"><img src= "linkedIn.png" class ="social-icon social-first"></a>
                            <a href= "https://www.instagram.com" target="_blank"><img src= "instagram.png" class ="social-icon"></a>
                            <a href= "https://www.twitter.com" target="_blank"><img src= "twitter.png" class ="social-icon"></a>
                        </div>
                        </div>
                </div>
                <div class= "quick">
                    <div class="quick-links">
                        <p class = "heading1">Quick Links</p>
                        <a href= "#" class="links-click"><p class = "link-css link-first">Home</p></a>
                        <a href= "#"  ><p class = "link-css">About</p></a>
                        <a href= "#" ><p class = "link-css">Solutions</p></a>
                        <a href= "#" ><p class = "link-css">Contact</p></a>
                        <a href= "#" ><p class = "link-css">Crops</p></a>
                        <a href= "#" ><p class = "link-css">Resource</p></a>
                    </div>
                </div>
                <div>
                    <div class="useful-links">
                        <p class = "heading1" >Useful Links</p>
                        <a href= "#"><p class = "link-css link-first">Terms and Conditions</p></a>
                        <a href= "#"><p class = "link-css">Privacy Policy</p></a>
                        <a href= "#"><p class = "link-css">FAQs</p></a>
                        
                    </div>
                </div>
                <div class="download-links-div">
                    <div class="download-links">
                        <p class = "heading1">Download App</p>
                        <p class = "link-css-con link-first">For more convenience download our app
                        from the links below</p>
                        <a href= "#"><img src = "apple.png" class ="down-img down-img-first"></a>
                        <a href= "#"><img src = "android.png" class ="down-img"></a>
                        
                        
                    </div>
                </div>
            </div>
            <div class = "copy-div">
                <p class = "copy">Copyright @ 2024 all rights reserved</p>
            </div>
            
        </div>
    
        
        </footer>
    </main>
    
</body>
</html>
