body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f9f9f9;
}

.container {
    text-align: center;
}

.container h1 {
    margin-bottom: 50px;
}

.impact-numbers {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.impact-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px; 
    margin: 20px;
    padding: 5px 0;
    color: green; 
    opacity: 0;
    pointer-events: none;
    position: absolute;
    animation: animate 15s linear infinite;
    animation-delay: calc(3s * var(--delay));
}

.impact-numbers:hover .impact-item{
    animation-play-state: paused;
}

.impact-numbers .impact-item:last-child{
    animation-delay: calc(-3s * var(--delay));
}


@keyframes animate{
    0%{
        
        opacity: 0;
        transform: translateY(100%) scale(0.5);
    }

    5%, 20%{
        opacity: 0.4;
        transform: translateY(100%) scale(0.7);
    }

    25%, 40%{
        opacity: 1;
        pointer-events: auto;
        transform: translateY(0%) scale(1);
    }

    45%, 60%{
        opacity: 0;
        transform: translateY(-100%) scale(0.7);
    }

    65%, 100%{
        opacity: 0;
        transform: translateY(-100%) scale(0.5);
    }
}


.description {
    text-align: left;
    flex: 1;
}

.value {
    text-align: right;
    flex: 1;
    color: inherit; 
}


