/* CSS Reset */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
    background: #f2f8f4;
}

.footer{
    display: flex;
    flex-direction: column;
}
.contact{
    margin-left: 10%;
    margin-right: 10%;
    /* border-style: dashed; */
    border-radius: 50px;
    background: #E6F4EA;
}
.icon-div{
    display: flex;
    height :180px ;
    margin-left: 15%;
    margin-right: 15%;
    margin-top:15px ;
    justify-content: space-between;
    align-items: center;
}

.contact img{
    height : 50px ;
    width: 45px;
}

.icon_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.detail_value{
    margin-top: -15px;
}

.links-div{
    display: flex;
    margin-top: 40px;
    margin-left: 3%;
    margin-right: 3%;
    justify-content: space-between;
}

.link_ele{
    display: flex;
    flex-direction: column;
}
.link_ele img{
    
    height: 80px;
    width: 250px;
}

.revin-cont{
    margin-left: 2%;
    width:340px;
    /* border-style: dashed; */
    margin-top: 15px;
    
}

.revin-cont img{
    height: 40px;
    width: 40px;
}

.social-media{
    margin-left: 6%;
    margin-right: 6%;
    display: flex;
    justify-content:space-between ;
}

.heading1{
    font-size: 19px;
    font-weight:bold;
}
a{
    text-decoration: none;
    /* color :rgb(88, 85, 85) ; */
    color: black;
}

a p:hover{
    scale: 1.1 ;
    transition:  .3s;
}
a img:hover{
    scale: 1.1 ;
    transition:  .3s;
}

.download-links{
    display: flex;
    flex-direction: column ;
}
.download-links-div img{
    height: 50px;
    width: 140px;
}

.download-links-div .link-css-con{
    /* border-style: dashed; */
    width: 250px;
}

.copy-div{
    /* border-style: dashed; */
    justify-content:space-between ;
    align-items: center;
    /* margin-bottom :0%; */
}

.copy-div p{
    /* border-style: dashed; */
    
    text-align: center;
    margin-bottom :0%;
}