* {
    margin: 0;
    padding: 0;
    margin-bottom: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.landing{
    gap:0 ;
}
.landing iframe {
    margin: 0; /* Remove any default margin */
    display: block; /* Ensure iframes behave as block-level elements */
    border:None ;
}